/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Tables */
.table {border-top: 1px solid #E6ECF1;
  &-row {position: relative; display: flex; border-bottom: 1px solid #E6ECF1;}
  &-cell {flex-grow: 0; flex-shrink: 0; padding: 10px; box-sizing: border-box; line-height: 30px;
    &:first-of-type {padding-left: 8px;}
    &:last-of-type {padding-right: 8px;}
  }
  &-head {background: #fff; color: #777; position: sticky; top: 0; z-index: 1;
    .table-cell {padding: 20px 10px 5px; line-height: normal;
      &:first-of-type {padding-left: 8px;}
      &:last-of-type {padding-right: 8px;}
    }
  }
  &-content {flex: 1 0 1%; overflow: hidden; text-overflow: ellipsis;}
  &-footer {background: #fff; border-top: 1px solid #E6ECF1; position: sticky; bottom: 0; z-index: 1;
    .table-cell {display: flex; align-items: center;}
  }
}

.mat-select-panel.journal-select-panel {max-height: 700px;}
